<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.camerakt">

    <!--
        위험 권한을 선언한다고 사용할 수 있는것이 아니라 권한을 사용자에게 직접 물어봐야 한다.
        이 카메라를 사용하는데 권한을 허용해줘 라고 사용자에게 허락을 받아야 한다.
        위험 권한 목록은 구글링하면 나온다.
        build.gradle에서 권한 허용 팝업이라는 것을 구현해야한다.
    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/><!-- 파일 읽기 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/><!-- 파일 쓰기 권한 -->
    <uses-permission android:name="android.permission.CAMERA"/><!-- 카메라 권한 -->
    <!--
        카메라 기능 사용
        required = true와 false
        안드로이드 기기들 중 카메라가 없는 안드로이드 폰이 있을수도 있다.
        그렇기 때문에 현재 빌드할 폰이 기본 카메라 기능 자체를 사용할 수 있는 폰인지에 따라서
        true로 지정하게되면 해당 폰이 카메라 기능을 지원하지 않는다면 앱이 죽어버릴 것이다.
        이 앱은 반듯이 카메라를 사용해야만 쓸모가 있는 앱이기 때문이다.
        false로 하게되면 sns, 커뮤니티와 같은 앱을 만들꺼면 false로 하는 것이 좋다.
        false를 하면 카메라기능이 핵심적인 기능이 아니기 때문에 사용을 해도 상관이 없다는 것이 된다.
    -->
    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CameraKt">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
            android:authorities="com.example.camerakt.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>

    </application>

</manifest>